<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSS-READER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>891739A61D05C39E002F9F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891739BA1D05C39E002F9F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891739C51D05C39E002F9F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
